= gitlab_ui_form_for @application_setting, url: network_admin_application_settings_path(anchor: 'js-search-limits-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.label :search_rate_limit, _('Maximum number of requests per minute for an authenticated user'), class: 'label-bold'
      .form-text.gl-text-subtle
        = _("Set this number to 0 to disable the limit.")
      = f.number_field :search_rate_limit, class: 'form-control gl-form-input'

    .form-group
      = f.label :search_rate_limit_unauthenticated, _('Maximum number of requests per minute for an unauthenticated IP address'), class: 'label-bold'
      = f.number_field :search_rate_limit_unauthenticated, class: 'form-control gl-form-input'

    .form-group
      = f.label :search_rate_limit_allowlist, _('Users to exclude from the rate limit'), class: 'label-bold'
      = f.text_area :search_rate_limit_allowlist_raw, class: 'form-control gl-form-input', rows: 5, aria: { describedBy: 'search-rate-limit-allowlist-field-description' }
      .form-text.text-muted{ id: 'search-rate-limit-allowlist-field-description' }
        = _('List of users who are allowed to exceed the rate limit. Example: username1, username2')


  = f.submit _('Save changes'), pajamas_button: true
